<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title> Smart Home </title>

    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    <link rel="stylesheet" th:href="@{/css/Custom.css}"/>


</head>

<body class="bg-image">
<div class="main-grid-container">



    <div class="grid-container-1">
        <div class="grid-item"><h1 id="sensor1">People</h1></div>
        <div class="grid-item"><h1 id="headCountInHome"></h1></div>
        <div class="grid-item"><h1 id="sensor2">Window 1</h1></div>
        <div class="grid-item"><h1 id="laser1"></h1></div>
        <div class="grid-item"><h1 id="sensor3">Window 2</h1></div>
        <div class="grid-item"><h1 id="laser2"></h1></div>
        <div class="grid-item"><h1 id="sensor4">Window 3</h1></div>
        <div class="grid-item"><h1 id="laser3"></h1></div>
        <div class="grid-item"><h1 id="sensor5">Door Look</h1></div>
        <div class="grid-item"><h1 id="vibrationCount"></h1></div>
    </div>

    <div class="grid-container">
        <div class="grid-item-1"><h1 id="decisionBlock">Decision</h1></div>
        <div class="grid-item-1"><h1 id="decision"></h1></div>
    </div>

</div>


<h1>Smart home</h1>

<script type="application/javascript">
    function getContiniouslyAllData() {
        $.ajax({
            url: '/SmartHomeSystem/get-all-data',
            type: "GET",
            dataType: "xml",
            contentType: "application/xml",
            success: function (xmlData) {
                result=xmlData;
                console.log(xmlData);
                $(xmlData).find("ResponseData").each(function () {
                    var headCountInHome = $(this).find('headCountInHome').text();
                    var laser1 = $(this).find('laserSensor1data').text();
                    var laser2 = $(this).find('laserSensor2data').text();
                    var laser3 = $(this).find('laserSensor3data').text();
                    var vibrationCount = $(this).find('vibrationCount').text();
                    //console.log(xmlData);

                    $('#headCountInHome').html(headCountInHome);
                    $('#laser1').html(laser1);
                    $('#laser2').html(laser2);
                    $('#laser3').html(laser3);
                    $('#vibrationCount').html(vibrationCount);

                    TakeDecision(headCountInHome, laser1, laser2, laser3, vibrationCount);
                });
            }
        });
    }
    setInterval(getContiniouslyAllData, 2000);

</script>

<script>
    function TakeDecision(headCountInHome, laser1, laser2, laser3, vibrationCount) {
        let displayed;
        if(headCountInHome === 0 || headCountInHome === '0')
        {
            if (laser1 === true || laser1 === 'true') {
                displayed = headCountInHome.concat(laser1, laser2, laser3, vibrationCount);
            } else {
                displayed = laser1.concat(headCountInHome);
            }
        }
        else
        {
            displayed = 'dafdsafasf';
        }

        $('#decision').html(displayed);
    }
</script>
</body>
</html>